# Environment variables
*.env
.env
.env.*
.env.local
.env.*.local
back/.env
back/.env.*
front/.env
front/.env.*

# Data folders
data/
back/uploads/

# Dependencies
node_modules/
back/node_modules/
front/node_modules/

# Build outputs
dist/
build/
back/dist/
front/dist/

# IDE
.vscode/
.idea/
