@layer components {
   .header {
      @apply bg-gradient-to-br from-zinc-900 to-zinc-800 text-white py-2 px-4 md:py-4 md:px-8 lg:py-5 lg:px-12 xl:py-6 xl:px-16 shadow-sm flex flex-wrap md:flex-nowrap justify-between items-center gap-2 md:gap-8 lg:gap-10 xl:gap-12;
   }

   .header a,
   .header button {
      color: white !important;
   }

   .logo-container {
      @apply shrink-0;
   }

   .logo-container img {
      @apply h-8 w-8 md:h-12 md:w-12 lg:h-14 lg:w-14 xl:h-16 xl:w-16 rounded-full object-cover;
   }

   .logo-text {
      @apply text-2xl md:text-4xl lg:text-5xl xl:text-6xl text-amber-100 font-extrabold;
   }

   .logo-subtitle {
      @apply text-[0.5rem] md:text-xs lg:text-sm tracking-widest font-semibold uppercase mt-0.5 text-amber-300;
   }

   .form-seach {
      @apply w-full md:w-auto order-3 md:order-none relative;
   }

   .header-btn {
      @apply border border-gray-600 hover:border-gray-400 hover:bg-gray-800 flex items-center gap-1 md:gap-2 px-2 md:px-5 lg:px-6 xl:px-7 py-2 md:py-2.5 rounded-full transition text-white whitespace-nowrap text-xs md:text-sm lg:text-sm xl:text-base h-9 md:h-10 lg:h-11 xl:h-12 w-auto md:w-40 lg:w-44 xl:w-48 justify-center;
   }

   .header-btn span {
      @apply hidden md:inline;
   }

   .header-btn svg {
      @apply w-5 h-5 md:w-4 md:h-4 lg:w-5 lg:h-5;
   }

   .header-btn-secondary {
      @apply border border-gray-600 hover:border-gray-400 hover:bg-gray-800;
   }

   .header-btn-primary {
      @apply bg-yellow-500 text-black font-semibold hover:bg-yellow-600;
   }

   .form-inputSearch{
    @apply w-full md:w-72 lg:w-80 xl:w-96 pl-4 pr-10 py-2 border border-gray-300 rounded-full text-black focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-gray-400 bg-white;
  }

}